[Desktop Entry]
Type=Application
Name=Whatevr
Comment=Native WhatsApp client for Linux
Exec=whatkevr %u
Icon=in.codelif.Whatevr
Terminal=false
Categories=Network;Chat;InstantMessaging;Qt;KDE;
Keywords=WhatsApp;Messaging;Chat;
StartupNotify=true
MimeType=x-scheme-handler/whatevr;
